.about-container {
  //background: url('../img/gengarMini.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.87),#7d04a1);
  color: white;
  text-align: left;
}
// .about-mini {
//     background-color: white;
// }

.thicc {
  border-radius: 25px;
  padding: 60px 30px;
}